.container {
	overflow-y: auto;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px 30px;
	height: 120px;
	background-color: #333;
	color: #fff;
}
.header .title {
	font-size: 70px;
	font-weight: bold;
}
.header .subtitle {
	margin-left: 6px;
	font-size: 20px;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 30px;
}

.row {
	display: flex;
	align-items: center;
	position: relative;
	padding: 6px 10px;
	height: 40px;
	line-height: 15px;
	background-color: #fff;
	border-bottom: solid 1px #ccc;
	font-size: 13px;
	z-index: 1;
}
.row .row-col1 {
	flex: 15;
}
.row .row-col2 {
	flex: 3;
}
.row .row-col3 {
	display: none;
}
.row .row-col1 .title {
	color: #333;
	cursor: inherit;
}
.row .row-col1 .author {
	color: #999;
	cursor: inherit;
}
.row .row-col2 .time {
	color: #333;
	cursor: inherit;
}
.row .row-col3 button.btnDel {
	border: solid 1px #eee;
	border-radius: 50%;
	padding: 6px 8px;
	background-color: #eee;
}
.row:hover {
	background-color: #fafafa;
	cursor: pointer;
}
